{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off",
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "prefer-destructuring": [
      "warn",
      {
        "array": true,
        "object": true
      }
    ]
  }
}
